.navbar_top {
	background-color: #654cff !important;
    box-shadow: 5px 4px 8px #888888;
    margin-bottom: 50px;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
	border-color: transparent !important;
}
.ulcontent li {
	padding: 0 10px; 
}
.whitefa {
	color: white !important;
}
.verticalline {
	height: 10px;
	border: 1px solid white;
}
.livertical {
    padding: 8px 10px !important;
}
.imgdropdown {
	 padding: 8px 10px !important;
}
.imgdropdown img{
	border-radius: 50%;
	width: 30px;
}
.dropdownli {
	padding: 0px 0px !important;
	margin: 0px !important;
}
.dropdownli a{
	padding: 0px 0px !important;
	padding: 8px 0px !important;
}
.board {
	border-radius: 75px 75px 75px 75px;
	height: 50px;
	width: 100%;
	font-size: 12px;
	margin: 10px;
	background-color: transparent;
	border: 1px solid #654DFF;
}
.nav-tabs {
    border-bottom: 1px solid transparent !important;
    width: inherit;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #654DFF;
    border-color: #654DFF;

}
.nav-tabs .nav-link {
	border-radius: 75px 75px 75px 75px;
    border-color: #654DFF;
    margin-bottom:  10px;
    font-size: 12px;
    height: 50px;
    width: 100%;
    text-align: center;
}

.globaltitle {
	background-color: #654DFF;
	width: 100%;
	margin: 10px 0;
	height: 50px;
}

.globaltitle h5{
	color:white;
	padding: 15px;
	font-size: 16px;
}

.globalcontent {
	background-color: transparent;
	height: 100%;
	padding: 20px;
}
.globalpicture {
	width: 200px;
	height: 300px;
	background-color: transparent;
	display: inline-block;
	margin: 5px 13px;
	padding: 0;
}
.globalpicture img {
	width: inherit;
	height: 50%;
	margin: 0;
	padding: 0;
}
.textvote {
	padding: 15px 20px !important;
	font-size: 14px;
}

.textvote button {
	text-align: center;
	margin-top: 10px !important;
	background-color: #654DFF;
}
.votedlist {
	width: 100%;
	height: 850px;
	background-color: #654DFF;
	box-shadow: 0 12px 20px black;
}
.votedtitle {
	padding: 20px;
	font-size: 13px;
	color:white;
}
.votedglobaltitle{
	padding: 20px;
	font-size: 15px;
	background-color: white;
	box-shadow: 0 12px 20px black;
	width: inherit;
}