.navbar_top {
	background-color: #654cff !important;
    box-shadow: 5px 4px 8px #888888;
    margin-bottom: 50px;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
	border-color: transparent !important;
}
.ulcontent li {
	padding: 0 10px; 
}
.whitefa {
	color: white !important;
}
.verticalline {
	height: 10px;
	border: 1px solid white;
}
.livertical {
    padding: 8px 10px !important;
}
.imgdropdown {
	 padding: 8px 10px !important;
}
.imgdropdown img{
	border-radius: 50%;
	width: 30px;
}
.dropdownli {
	padding: 0px 0px !important;
	margin: 0px !important;
}
.dropdownli a{
	padding: 0px 0px !important;
	padding: 8px 0px !important;
}
.board {
	border-radius: 75px 75px 75px 75px;
	height: 50px;
	width: 100%;
	font-size: 12px;
	margin: 10px;
	background-color: transparent;
	border: 1px solid #654DFF;
}
.nav-tabs {
    border-bottom: 1px solid transparent !important;
    width: inherit;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #654DFF;
    border-color: #654DFF;

}
.nav-tabs .nav-link {
	border-radius: 75px 75px 75px 75px;
    border-color: #654DFF;
    margin-bottom:  10px;
    font-size: 12px;
    height: 50px;
    width: 100%;
    text-align: center;
    color:#654DFF;
}

.globaltitle {
	background-color: #654DFF;
	width: 100%;
	margin: 10px 0;
	height: 50px;
}

.globaltitle h5{
	color:white;
	padding: 15px;
	font-size: 16px;
}

.globalcontent {
	background-color: transparent;
	height: 100%;
	padding: 20px;
}
.globalpicture {
	width: 200px;
	height: 300px;
	background-color: transparent;
	display: inline-block;
	margin: 5px 13px;
	padding: 0;
	border:1px solid #A9A9A9;
}
.globalpicture img {
	width: inherit;
	height: 50%;
	margin: 0;
	padding: 0;
}
.textvote {
	padding: 15px 30px !important;
	font-size: 14px;
}

.textvote button {
	text-align: center;
	margin-top: 10px !important;
	background-color: #654DFF;
	font-size: 10px;
}
.votedlist {
	width: 100%;
	background-color: #654DFF;
	box-shadow: 0 0px 20px black;
	padding: 0;
}
.votedtitle {
	padding: 20px;
	font-size: 13px;
	color:white;
}
.votedglobaltitle, .votedregionaltitle, .votedambassadortitle, .votedadvisertitle{
	padding: 20px;
	font-size: 12px;
	background-color: white;
	box-shadow: 0 0px 20px red;
	width: inherit;
}
.votedcontent {
	width:100%;
	padding: 30px;
}
.votedcontent img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 20px black;
    float: left;
    margin-right: 20px;
}
.votedcontent p {
	font-weight: bold;
	display: inline-block;
	color:white;
	font-size: 13px;
}
.votedcontent button {
	float:right;
	background-color: #654DFF;
	border: 1px solid white;
}
.submitdiv {
	padding: 0;
	margin-top: 25px;
}
.submitdiv button {
	width:100%;
	background-color: transparent;
	border-color: #654DFF;
	box-shadow: 0 0px 20px black;
	color:#654DFF;
}
.submitdiv button:hover {
	background-color: #654DFF;
}
.approvedlist {
	width: 100%;
	background-color: #007bff;
	box-shadow: 0 0px 20px;
	padding: 0;
}
.approvedtitle {
	padding: 15px;
	font-size: 13px;
	color:white;
}
.approvedglobaltitle, .approvedregionaltitle, .approvedambassadortitle, .approvedadvisertitle{
	padding: 20px;
	font-size: 12px;
	background-color: white;
	box-shadow: 0 0px 20px;
	width: inherit;
}
.approvediv {
	padding: 0;
	margin-top: 25px;
}
.approvediv button {
	width:100%;
	background-color: transparent;
	border-color: #654DFF;
	box-shadow: 0 0px 20px black;
	color:#654DFF;
}
.approvediv button:hover {
	background-color: #654DFF;
}
.approvedcontent {
	width:100%;
	padding: 15px;
}
.approvedcontent img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0 2px 20px black;
    float: left;
    margin-right: 30px;
}
.approvedcontent p {
	font-weight: bold;
	display: inline-block;
	color:white;
	font-size: 13px;
}
.approvedcontent button {
	float:right;
	background-color: #ff0000;
	border: 1px solid white;
}
.approvedcontent button:hover {
	float:right;
	background-color: #cc0000;
	border: 1px solid white;
}
.removed {
	background-color:#ea4335;
}
.removed:hover {
	background-color:#bf1121;
}
.cancelled{
	background-color:#ea4335 !important;
}
.cancelledvotedlist{
	background-color:#ea4335 !important;
}