.navbar_top {
	background-color: #654cff !important;
    box-shadow: 5px 4px 8px #888888;
    margin-bottom: 50px;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {
	border-color: transparent !important;
}
.ulcontent li {
	padding: 0 10px; 
}
.whitefa {
	color: white !important;
}
.verticalline {
	height: 10px;
	border: 1px solid white;
}
.livertical {
    padding: 8px 10px !important;
}
.imgdropdown {
	 padding: 8px 10px !important;
}
.imgdropdown img{
	border-radius: 50%;
	width: 30px;
}
.dropdownli {
	padding: 0px 0px !important;
	margin: 0px !important;
}
.dropdownli a{
	padding: 0px 0px !important;
	padding: 8px 0px !important;
}
.board {
	border-radius: 75px 75px 75px 75px;
	height: 50px;
	width: 100%;
	font-size: 12px;
	margin: 10px;
	background-color: transparent;
	border: 1px solid #654DFF;
}
